body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #dbeefe;
}

.layout {
  margin: 0 auto;
  max-width: 1200px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

nav .links {
  text-align: right;
}

nav a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: #333;
  transition: all 0.3s ease-in-out;
}

footer {
  text-align: center;
}
